@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Be Vietnam Pro', sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo_nav {
  width: 150px;
}
.logo_aico {
  width: 100px;
}
.nav h2 {
  color: #1967b3;
  font-size: 50px;
  font-weight: 600;
  border-radius: 3px;
  padding-block: 4px;
  padding-inline: 8px;
}
.padel-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.padel-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  width: 100%;
  gap: 10px;
}

.Row {
  flex-wrap: nowrap !important;
}

.padelImage {
  object-fit: cover;
  width: 400px;
  margin-top: -2rem;
  animation: mover 4s ease-in-out infinite;
  object-fit: cover;
}
.content-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.content-logo h2 {
  font-size: 35px;
  color: #035089;
}
@keyframes mover {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  align-items: center;
  padding-inline: 1%;
}
.button-style {
  background-color: #1967b3;
  color: white;
  padding-inline: 35px;
  padding-block: 10px;
  border-radius: 20px;
  border: none;
  font-size: 0.6em;
  font-weight: 300;
  letter-spacing: 0.5px;
  transition: background-color ease 400ms;
  cursor: pointer;
}
.button-style {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 15px;
}
.button-style p {
  color: white !important;
}
.slider {
  width: 100%;
  border: 3px solid #1967b3;
  border-radius: 10px;
  margin-top: 1rem;
}
.slider::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  height: 12px;
  z-index: 99;
  border-radius: 5px; /* Hacer que la barra de desplazamiento sea redondeada */
}

/* Estilo de la barra de desplazamiento cuando está en modo normal (no se está desplazando) */
.slider::-webkit-scrollbar-thumb {
  background-color: #1967b3; /* Color del fondo de la barra de desplazamiento */
  border-radius: 5px; /* Hacer que el pulgar de la barra de desplazamiento sea redondeado */
}

/* Estilo de la barra de desplazamiento cuando se está desplazando */
.slider::-webkit-scrollbar-thumb:hover {
  background-color: white; /* Cambiar el color cuando se pasa el cursor por encima */
}
.slider-content {
  display: flex;
  gap: 1.5em;
  padding-inline-end: 30px;
}

.slider-content img {
  border-radius: 0 20px 0 35px;
  width: 250px;
}

.redes {
  display: flex;
  align-items: center;
}

.middle-sec {
  background-color: #035089;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2.3em;
  padding-block: 0px;
  padding-inline: 23px;
}
.middle-sec h2 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: -1px;
}
.middle-sec img {
  width: 140px;
}

@media (max-width: 800px) {
  .padel-intro {
    flex-direction: column;
  }
}
